'scopeName': 'source.sonny'
'name': 'Sonny'
'fileTypes': [
  'son'
]
'patterns': [
  {
	  'name': 'comment.line.sonny'
	  'match': '(?<![/A-G])#[^/].*'
  }
  {
	  'name': 'comment.block.sonny'
	  'begin': '#/'
	  'end': '/#'
  }
  {
	  'name': 'constant.language.sonny'
	  'match': '\\b(time|sample_rate|window_size|buffer_size|wi)\\b'
  }
  {
	  'name': 'constant.other.note.sonny'
	  'match': '(?<![A-Za-z_\\d])[A-G_][#b]?\\d?(?![A-Za-z_\\d])'
  }
  {
	  'name': 'constant.numeric.sonny'
	  'match': '((?<![A-Za-z_\\d!])\\d+((?!\\.\\.)(\\.\\d*)?(?![A-Za-z_\\d]))?|pi)'
  }
  {
	  'name': 'constant.numeric.note_duration.sonny'
	  'match': '\\b(w|h|q|e|s|ts)\\.*\\s*(?=(,|}|\\n))'
  }
  {
	  'name': 'constant.numeric.beat_duration.sonny'
	  'match': '(?<=:)\\s*\\d+\\s*/\\s*\\d+\\s*(?=(,|}))'
  }
  {
	  'name': 'entity.name.function.chain.sonny'
	  'match': '([A-Za-z_][A-Za-z_\\d]*)(?<![^A-Za-z_\\d][A-G_]\\d)(?<![^A-Za-z_\\d][A-G_])\\s*((?=:)(?!::))'
  }
  {
	  'name': 'support.constant.backlink.sonny'
	  'match': '!\\d+'
  }
  {
	  'name': 'support.constant.property.sonny'
	  'match': '~'
  }
  {
	  'name': 'keyword.control.chain_delimiter.sonny'
	  'match': '(\\||->)'
  }
  {
	  'name': 'keyword.operator.symbol.sonny'
	  'match': '(\\+|-(?!>)|\\*|/|%|(=|!|<|>)=?|&&|\\|\\|)'
  }
  {
	  'name': 'keyword.other.word.sonny'
	  'match': '\\b(sin|cos|ceil|floor|abs|min|max|log|avg|fft|window|debug|print)\\b'
  }
  {
	  'name': 'keyword.other.top_level.sonny'
	  'match': '\\b(std|use|out|tempo)\\b'
  }
  {
	  'name': 'string.quoted.double.sonny'
	  'begin': '"'
	  'end': '"'
	  'patterns': [
		  {
			  'name': 'constant.character.escape.sonny'
			  'match': '\\\\[A-Za-z"\\\\]'
		  }
	  ]
  }

]
